name: Browser Integration

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - run: npm install && cd example/browser && npm install
    - run: docker run --name seq -d -p 5341:80 -e ACCEPT_EULA=Y datalust/seq:latest
    - run: cd example/browser && npm run test:html
    - run: docker rm -f seq
